# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Virtual Envs
.env
.env.local
.env.*
.venv/
venv/

# Logs
logs/
*.log
*.pem
secrets/

# System
.DS_Store
*.swp

# App Specific
control_flags.json
config.json
